* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

/* main{
    display: flex;
    flex-wrap: wrap;
} */

img {
height: auto;  
  width: 350px;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}   

.listX {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
}